<div class="topbar">
  {%- if topbar != '' and topbar.settings.show_content -%}
  <div class="sp-color-scheme-01">
    <div class="container-fluid{% if item.header_fullwidth %}-full{% endif %}">
      <div class="sp-header-row sp-top-row">
        {%- for block in section.blocks -%}
          {%- if block.type == 'menu_currency' -%}
            <div class="sp-col-left">
              <!-- sp-currency -->
              <div class="sp-desctop-parent-multi sp-parent-box">
                <div class="sp-multi-obj sp-dropdown-obj">
                  <div class="sp-dropdown-toggle">{{ menu_currency.text_currency }}</div>
                  <div class="sp-dropdown-menu">
                    <div class="sp-dropdown-inner">
                      {%- include "menu-language" -%}
                      {%- include "menu-currency" -%}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {%- endif -%}
        {%- endfor -%}
        
        <div class="sp-col-right top-bar-right">   
          <ul class="menu-general">
            {% for block in section.blocks %}
              {% for link in linklists[block.settings.menu_top].links %}
                <li {% if link.active %}class="link-top-bar {% if link.child_active %}child-active{% endif %}"{% endif %}><a href="{{ link.url }}" >{{ link.title }}</a>
                  {% if link.links != blank %}
                  <ul class="child">
                    {% for child_link in link.links %}  
                    <li {% if child_link.active %}class="link-top-bar {% if child_link.child_active %}child-active{% endif %}"{% endif %}><a href= "{{ child_link.url }}">{{ child_link.title }}</a>
                      {% if child_link.links != blank %}
                      <ul class="grandchild">
                        {% for grandchild_link in child_link.links %}  
                        <li {% if grandchild_link.active %}class="link-top-bar {% if grandchild_link.child_active %}child-active{% endif %}"{% endif %}><a href= "{{ grandchild_link.url }}">{{ grandchild_link.title }}</a></li>
                        {% endfor %}
                      </ul>
                      {% endif %}   
                    </li>
                    {% endfor %}
                  </ul> 
                  {% endif %}
                </li>
              {% endfor %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
  {%- endif -%}
</div>