<div class="sp-desktop-header{% if settings.header_position and template == 'index' %} sp-header-static{% endif %}">    
    <div class="container-fluid{% if item.header_fullwidth %}-full{% endif %} background-header-search">
    	<div class="row row-center {{ menuposition }}">
	    	<div class="sp-obj-menu header-search-menu">
	              <div class="sp-desctop-parent-menu sp-parent-box">
	                <div class="sp-desctop-menu">
	                  {%- include "main-menu" -%}
	                </div>
	              </div>
	        </div>
	        <div class="topbar-right">
	        	<div><span><i class="{{ item.call_icon }}"></i> {{ item.call_top }}</span></div>
	        	<div><span><i class="{{ item.order_icon }}"></i><a href="{{ item.link_order }}">{{ item.order_your }}</a></span></div>
	        	{% if section.settings.menu_search != blank %}
		        	<div>
		        		<ul class="menu-general">
				            {% for link in linklists[section.settings.menu_search].links %}
				            <li {% if link.active %}class="link-top-bar {% if link.child_active %}child-active{% endif %}"{% endif %}><a href="{{ link.url }}">{{ link.title }}</a>
				              {% if link.links != blank %}
				              <ul class="child">
				                {% for child_link in link.links %}  
				                <li {% if child_link.active %}class="link-top-bar {% if child_link.child_active %}child-active{% endif %}"{% endif %}><a href= "{{ child_link.url }}">{{ child_link.title }}</a>
				                  {% if child_link.links != blank %}
				                  <ul class="grandchild">
				                    {% for grandchild_link in child_link.links %}  
				                    <li {% if grandchild_link.active %}class="link-top-bar {% if grandchild_link.child_active %}child-active{% endif %}"{% endif %}><a href= "{{ grandchild_link.url }}">{{ grandchild_link.title }}</a></li>
				                    {% endfor %}
				                  </ul>
				                  {% endif %}   
				                </li>
				                {% endfor %}
				              </ul> 
				              {% endif %}
				            </li>
				            {% endfor %}
				        </ul>
			      	</div>
		      	{% endif %}
		      	{%- for block in section.blocks -%}
            		{%- if block.type == 'menu_currency' -%}
				      	<div>
				      		<div class="sp-desctop-parent-multi sp-parent-box">
					            <div class="sp-multi-obj sp-dropdown-obj">
					              <div class="sp-dropdown-toggle">{{ menu_currency.text_currency }}</div>
					              <div class="sp-dropdown-menu">
					                <div class="sp-dropdown-inner">
					                  {%- include "menu-language" -%}
					                  {%- include "menu-currency" -%}
					                </div>
					              </div>
					            </div>
					          </div>
				      	</div>
					{%- endif -%}
				{%- endfor -%}
	        </div>
        </div>
    </div>
</div>
<div class="sp-desktop-header{% if settings.header_position and template == 'index' %} sp-header-static{% endif %}">    
    <div class="container-fluid{% if item.header_fullwidth %}-full{% endif %} bb-header-search">
    	<div class="row row-center">
    		<div class="bb-logo-header" itemscope itemtype="http://schema.org/Organization">
              {%- include "header_logo" -%}
              <span>{{ item.text_logo }}</span>
            </div>
            <div class="bb-search">
            	<div class="search-type2{% unless item.show_simple_info %} obj-move-right{% endunless %}">
		          <!-- sp-search -->
		          <form action="/search" method="get" role="search" style="margin-left: {{ item.search_indent }}px;">
		            <input type="hidden" name="type" value="product" />
		            <input class="sp-search-input"
		                   type="search"
		                   name="q"
		                   placeholder="search product..."
		                   aria-label="{{ 'general.search.place_holder' | t }}">
		           <button type="submit" class="btn sp-btn-search">{{ 'general.search.button_name_header_type_2' | t }}</button>
		        </form>
		        </div>
            </div>
            <div class="options-header bb-dropdown">
            	<div class="bb-options">
              		{%- include "header_options" -%}
              	</div>
              	<span>{{ item.free_shiping }}</span>
            </div>
		</div>
	</div>
</div>

