{%- assign grid = section_block.grid -%}

{%- case grid -%}
{%- when '2' -%}
{%- assign img_url = '200x' -%}
{%- when '3' -%}
{%- assign img_url = '300x' -%}
{%- else -%}
{%- assign img_url = '400x' -%}
{%- endcase -%}

{%- assign imgs = section_block.megamenu_images -%}
{%- if imgs != "" -%}{%- assign imgs = imgs | split: ',' -%}{%- endif -%}

{%- assign banners_grid = section_block.banners_grid -%}
{%- assign banners_btn = section_block.banners_btn -%}
{%- assign banners_btnname = section_block.banners_btnname -%}
{%- assign banners_tit1 = section_block.banners_tit1 -%}
{%- assign banners_tit2 = section_block.banners_tit2 -%}
{%- assign banners_tit11 = section_block.banners_tit11 -%}
{%- assign banners_tit21 = section_block.banners_tit21 -%}
{%- capture banners_img1 -%}{%- if banners_grid == '12' -%}{{ section_block.bottombanners_img_1 | img_url: '1120x' }}{%- else -%}{{ section_block.bottombanners_img_1 | img_url: '560x' }}{%- endif -%}{%- endcapture -%}
{%- assign banners_img1alt = section_block.bottombanners_img_1.alt -%}
{%- assign banners_img2 = section_block.bottombanners_img_2 | img_url: '560x' -%}
{%- assign banners_img2alt = section_block.bottombanners_img_2.alt -%}
{%- assign color11 = section_block.color_11 -%}
{%- assign color12 = section_block.color_12 -%}
{%- assign color21 = section_block.color_21 -%}
{%- assign color22 = section_block.color_21 -%}
{%- assign html = section_block.html -%}

{%- assign banner1_url = section_block.banner1_url -%}
{%- assign banner2_url = section_block.banner2_url -%}

<div class="dropdown-menu size-{% if section_block.megamenu_size %}lg{% else %}md{% endif %}" >
  <div class="dropdown-menu-wrapper" {% if section_block.bg %} style="background-image: url('{{ section_block.bg | img_url: '1024x' }}'); background-repeat: no-repeat;background-size: cover;" {% endif %}>
  <div class="row">
    <div class="col-sm-12">
      <div class="row sp-col-list">
        {%- for child_level_2 in level_2.links -%}
        <div class="col-sm-{{ grid }}">
          <a href="{{ child_level_2.url }}" class="sp-title-submenu">
            {{ child_level_2.title }}
            
            {%- assign image = 'image' | append: forloop.index -%}
            {%- if section_block[image] != blank -%}
            <img class="lazyload"
                 data-src="{{ section_block[image] | img_url: img_url }}"
                 alt="{{ section_block[image].alt }}"/>
            {%- endif -%}
          </a>
          
          {%- capture return -%}{%- include "get_linklist_dropdown", link: child_level_2 -%}{%- endcapture -%}{%- assign return = return | split: "%%" -%}{%- assign has_drop_down = return | first | strip -%}{%- assign child_list_handle = return | last | strip -%}

          {%- assign level_3 = linklists[child_list_handle] -%}
          {%- if level_3.empty? -%}
          {%- assign child_list_handle = child_level_2.title | handle -%}
          {%- assign level_3 = linklists[child_list_handle] -%}
          {%- endif -%}

          {%- if level_3.links != blank -%}
          <ul class="sp-megamenu-submenu">
            {%- for child_level_3 in level_3.links -%}
            <li>
              <a href="{{ child_level_3.url }}"><span>{{ child_level_3.title }}</span></a>
              
              {%- capture return -%}{%- include "get_linklist_dropdown", link: child_level_3 -%}{%- endcapture -%}{%- assign return = return | split: "%%" -%}{%- assign has_drop_down = return | first | strip -%}{%- assign child_list_handle = return | last | strip -%}

              {%- assign level_4 = linklists[child_list_handle] -%}
              {%- if level_4.empty? -%}
              {%- assign child_list_handle = child_level_3.title | handle -%}
              {%- assign level_4 = linklists[child_list_handle] -%}
              {%- endif -%}
              
              {%- if level_4.links != blank -%}
              <ul>
                {%- for child_level_4 in level_4.links -%}
                <li>
                  <a href="{{ child_level_4.url | downcase }}"><span>{{ child_level_4.title }}</span></a>
                  
                  {%- capture return -%}{%- include "get_linklist_dropdown", link: child_level_4 -%}{%- endcapture -%}{%- assign return = return | split: "%%" -%}{%- assign has_drop_down = return | first | strip -%}{%- assign child_list_handle = return | last | strip -%}

                  {%- if has_drop_down == "true" -%}
                  {%- assign level_5 = linklists[child_list_handle] -%}
                  {%- unless level_5.empty? -%}
                  <ul>
                    {%- for child_level_5 in level_5.links -%}
                    <li><a href="{{ child_level_5.url | downcase }}">{{ child_level_5.title }}</a></li>
                    {%- endfor -%}
                  </ul>
                  {%- endunless -%}
                  {%- endif -%}
                </li>
                {%- endfor -%}
              </ul>
              {%- endif -%}
            </li>
            {%- endfor -%}
          </ul>
          {%- endif -%}
        </div>
        {%- endfor -%}
      </div>
    </div>
  </div>
  {% if section_block.show_logo_mega %}
    <div class="logo-mega">
      {% if section_block.logo_mega != blank %}
        <a href="{{ section_block.link_mega }}" class="logo-link"><img src="{{ section_block.logo_mega | img_url :'150x' }}"></a>
      {% endif %}
      <div class="text-mega" style="border-color: {{ section_block.color_border }}">
        <p style="color: {{ section_block.color_text1 }}">{{ section_block.text1 }}</p>
        <p style="color: {{ section_block.color_text2 }}">{{ section_block.text2 }}</p>
      </div>
    </div>
  {% endif %}
</div>
</div>