{%- if item.facebook_url -%}
    <li><a class="fa fa-facebook" target="_blank" href="{{ item.facebook_url }}" data-tooltip="Facebook" ></a></li>
{%- endif -%}
{%- if item.twitter_url -%}
    <li><a class="fa fa-twitter" target="_blank" href="{{ item.twitter_url }}" data-tooltip="Twitter"></a></li>
{%- endif -%}
{%- if item.gmail_url -%}
    <li><a class="fa fa-google" target="_blank" href="{{ item.gmail_url }}" data-tooltip="Gmail"></a></li>
{%- endif -%}
{%- if item.instagram_url -%}
    <li><a class="fa fa-instagram" target="_blank" href="{{ item.instagram_url }}" data-tooltip="Instagram"></a></li>
{%- endif -%}
{%- if item.pinterest_url -%}
    <li><a class="fa fa-pinterest-p" target="_blank" href="{{ item.pinterest_url }}" data-tooltip="Pinterest"></a></li>
{%- endif -%}
