<section class="Section section--banner--info" id="section-{{ section.id }}">
  <div class="container-index">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-6">
          <h2 class="heading">{{ section.settings.heading }}</h2>
          <div class="sub_heading">{{ section.settings.sub_heading }}</div>
          <div class="contact-form form-default">
            {%- form 'contact' -%}

            {%- if form.posted_successfully? -%}
            <p>{{ 'contact.form.post_success' | t }}</p>
            {%- endif -%}

            {{ form.errors | default_errors }}

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" name="contact[name]" value="{% if form[name] %}{{ form[name] }}{% elsif customer %}{{ customer.name }}{% endif %}" class="form-control" id="inputName" placeholder="{{ 'contact.form.name' | t }}">
                </div>   
              </div>

              <div class="col-md-6">
                <div class="form-group">
                    <input type="email" name="contact[email]" autocorrect="off" autocapitalize="off" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}" class="form-control" id="inputEmail" placeholder="{{ 'contact.form.email' | t }}" required>
                  </div>
              </div>
              
              <div class="col-md-6">
                <div class="form-group">
                  <input type="tel" name="contact[phone]" pattern="[0-9\-]*" value="{% if form[phone] %}{{ form[phone] }}{% elsif customer %}{{ customer.phone }}{% endif %}" class="form-control" id="inputSubject" placeholder="{{ 'contact.form.phone' | t }}">
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" name="contact[name]" value="{% if form[name] %}{{ form[name] }}{% elsif customer %}{{ customer.name }}{% endif %}" class="form-control" id="inputName" placeholder="Subject">
                </div>
              </div>


              <div class="col-md-12">
                <div class="form-group">
                  <textarea name="contact[body]" class="form-control" rows="8" placeholder="{{ 'contact.form.message' | t }}" id="textareaMessage">{%- if form.body -%}{{ form.body }}{%- endif -%}</textarea>
                </div>
              </div>
            </div>

            <div class="text-center form-button">
              <button type="submit" class="btn btn-2">{{ 'contact.form.send' | t }}</button>
            </div>
            {%- endform -%}
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6">
          <div class="map">
            {{ section.settings.html }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<style type="text/css">
  #section-{{ section.id }}{
    padding:{{ section.settings.padding }};
    margin:{{ section.settings.margin }};
  }
  @media (max-width: 1024px){
    #section-{{ section.id }}{
        padding:{{ section.settings.padding_mobi }};
        margin:{{ section.settings.margin_mobi }};
    }
  }
  @media (min-width: 992px){
    #section-{{ section.id }} .heading{
      font-size: {{ section.settings.font_size }}px;
    }
  }
</style>
{% schema %}
{
  "name": "Banner Info 2",
  "settings": [
    {
      "type": "text",
      "id": "padding",
      "label": "Section Padding",
      "default": "0px 0px 0px 0px"
    },
    {
      "type": "text",
      "id": "margin",
      "label": "Section margin",
      "default": "0px 0px 0px 0px"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color",
      "default": "#ffffff"
    },
    {
      "type": "header",
      "content": "Mobile"
    },
    {
      "type": "text",
      "id": "padding_mobi",
      "label": "Section Padding",
      "default": "0px 0px 0px 0px"
    },
    {
      "type": "text",
      "id": "margin_mobi",
      "label": "Section margin",
      "default": "0px 0px 0px 0px"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Got Any Questions?"
    },
    {
      "type": "range",
      "id": "font_size",
      "label": "Font size",
      "default": 40,
      "min": 30,
      "max": 50,
      "step": 1
    },
    {
      "type": "textarea",
      "id": "sub_heading",
      "label": "Sub Heading",
      "default": "Got Any Questions?"
    },   
    {
      "type": "header",
      "content": "Map"
    },
    {
      "type": "html",
      "id": "html",
      "label": "Map"
    }
  ]
}
{% endschema %}