{%- assign item = section.settings -%}

<section id="section-{{ section.id }}" data-aos="{{ section.settings.effect }}">
  <div class="container-fluid{% if item.fullwidth %}-fluid{% endif %}">
    {%- if item.show_title -%}
      <div class="sp-block-title">
        <h2 class="sp-title">{{ item.text1 }}</h2>
        {%- unless item.text2 == '' -%}<div class="sp-description">{{ item.text2 }}</div>{%- endunless -%}
      </div>
      {%- endif -%}

      {%- if section.blocks.size > 0 -%}
        <div class="row">
          {%- case section.blocks.size -%}
            {% when 1 %}
              {% for block in section.blocks %}
                {% assign b_i = block.settings %}
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  {%- include 'banner-item' -%}
                </div>
              {% endfor %}
              

            {% when 2 %}
              {% for block in section.blocks %}
                {% assign b_i = block.settings %}
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  {%- include 'banner-item' -%}
                </div>
              {% endfor %}


            {% when 3 %}
              {% for block in section.blocks %}
              {% assign b_i = block.settings %}
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                  {%- include 'banner-item' -%}
                </div>
              {% endfor %}

            {% when 4 %}
            {% for block in section.blocks %}
            {% assign b_i = block.settings %}
              <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                {%- include 'banner-item' -%}
              </div>
            {% endfor %}
            
            {% when 5 %}
              <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                 {% assign b_i = section.blocks[0].settings %} 
                  {%- include 'banner-item' -%}
              </div>
              <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                   {% assign b_i = section.blocks[1].settings %} 
                    {%- include 'banner-item' -%}
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                   {% assign b_i = section.blocks[2].settings %} 
                    {%- include 'banner-item' -%}
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                   {% assign b_i = section.blocks[3].settings %} 
                    {%- include 'banner-item' -%}
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                   {% assign b_i = section.blocks[4].settings %} 
                    {%- include 'banner-item' -%}
                  </div>
                </div>
              </div>
          {%- endcase -%}
        </div>
      {%- else -%}
        <span style="display: flex; justify-content: center;">This section doesn’t currently include any content. Add content to this section using the sidebar.</span>
      {%- endif -%}
  </div>
</section>
<style type="text/css">
  #section-{{ section.id }}{
    padding:{{ section.settings.padding }};
    margin:{{ section.settings.margin }};
  }

  @media (max-width: 1024px){
    #section-{{ section.id }}{
      padding:{{ section.settings.padding_mobi }};
      margin:{{ section.settings.margin_mobi }};
    }
  }
</style>
{% schema %}
{
  "name": "Banner Custom",
  "max_blocks": 5,
  "settings": [
    {
      "type": "checkbox",
      "id": "fullwidth",
      "label": "Fullwidth Width",
      "default": false
    },
    {
      "type": "text",
      "id": "padding",
      "label": "Section Padding",
      "default": "0px 0px 0px 0px"
    },
    {
      "type": "text",
      "id": "margin",
      "label": "Section margin",
      "default": "0px 0px 0px 0px"
    },
    {
      "type": "header",
      "content": "Mobile"
    },
    {
      "type": "text",
      "id": "padding_mobi",
      "label": "Section Padding",
      "default": "0px 0px 0px 0px"
    },
    {
      "type": "text",
      "id": "margin_mobi",
      "label": "Section margin",
      "default": "0px 0px 0px 0px"
    },
    {
        "type":"select",
        "id":"effect",
        "label":"Effect",
        "options":[
            {"value":"none","label":"No effect"},
            {"value":"fade","label":"fade"},
            {"value":"fade-up","label":"fade-up"},
            {"value":"fade-down","label":"fade-down"},
            {"value":"fade-left","label":"fade-left"},
            {"value":"fade-right","label":"fade-right"},
            {"value":"fade-up-right","label":"fade-up-right"},
            {"value":"fade-up-left","label":"fade-up-left"},
            {"value":"fade-down-right","label":"fade-down-right"},
            {"value":"fade-down-left","label":"fade-down-left"},
            {"value":"flip-up","label":"flip-up"},
            {"value":"flip-down","label":"flip-down"},
            {"value":"flip-left","label":"flip-left"},
            {"value":"flip-right","label":"flip-right"},
            {"value":"zoom-in","label":"zoom-in"},
            {"value":"zoom-in-up","label":"zoom-in-up"},
            {"value":"zoom-in-down","label":"zoom-in-down"},
            {"value":"zoom-in-left","label":"zoom-in-left"},
            {"value":"zoom-in-right","label":"zoom-in-right"},
            {"value":"zoom-out","label":"zoom-out"},
            {"value":"zoom-out-up","label":"zoom-out-up"},
            {"value":"zoom-out-down","label":"zoom-out-down"},
            {"value":"zoom-out-left","label":"zoom-out-left"},
            {"value":"zoom-out-right","label":"zoom-out-right"}
        ]
      },
    {
      "type": "header",
      "content": "Title"
    },
    {
      "type": "checkbox",
      "id": "show_title",
      "label": "Show title",
      "default": false
    },
    {
      "type": "textarea",
      "id": "text1",
      "label": "Title",
      "default": "POPULAR"
    },
    {
      "type": "textarea",
      "id": "text2",
      "label": "Description",
      "default": "CLOTHING BRANDS"
    }
  ],
  "blocks": [
    {
      "type": "items",
      "name": "banner",
      "settings": [
        {
          "type": "header",
          "content": "Banner"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link banner"
        },
        {
          "type": "text",
          "id":"padding_box",
          "label": "Padding Box",
          "default": "50px"
        },
        {
          "type":  "select",
          "id":    "option_box",
          "label": "Option Box",
          "options": [
            {
              "value": "topleft",
              "label": "top left"
            },
            {
              "value": "topright",
              "label": "top right"
            },
            {
              "value": "bottomleft",
              "label": "bottom left"
            },
            {
              "value": "bottomcenter",
              "label": "bottom center"
            },
            {
              "value": "bottomright",
              "label": "bottom right"
            }
          ]
        },
        {
          "type": "select",
          "id"  : "effect_box",
          "label": "Effect Box",
          "options": [
            {
              "value": "effect_bottom",
              "label": "effect bottom"
            },
            {
              "value" : "effect_top",
              "label": "effect top"
            }
          ]
        },
        {
          "type": "select",
          "id":    "style_box",
          "label": "Style box",
          "options": [
              {
                "value": "style_1",
                "label": "style 1"
              },
              {
                "value": "style_2",
                "label": "style 2"
              }
          ]
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default" :"New Collection"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Text",
          "default" :"from $199"
        },
        {
          "type": "checkbox",
          "id": "show_button",
          "label": "Show Button",
          "default" : true
        },
        {
          "type": "text",
          "id": "text_button",
          "label": "Text Button",
          "default" :"Explore Now"
        },
        {
          "type": "url",
          "id": "link_button",
          "label": "Link Button"
        },
        {
          "type": "header",
          "content": "Colors"
        },
        {
          "type": "color",
          "id": "color_title",
          "label": "Color Title",
          "default": "#303030"
        },
        {
          "type": "color",
          "id": "color_text",
          "label": "Color Text",
          "default": "#909090"
        }
      ]
    }
  ],
  "presets":[
    {
      "name": "Banners Custom",
      "category": "Banner",
      "blocks": [
          {
            "type": "items"
          },
          {
            "type": "items"
          },
          {
            "type": "items"
          }
      ]
    }
  ]
}
{% endschema %}