<section class="Section section--text" id="section-{{ section.id }}" >
  <div class="container-index">
    <div class="container">
      <div class="content">
        {% if section.settings.title != blank %}
          <h2 class="heading">{{ section.settings.title }}</h2>
        {% endif %}
        <div class="row">
          {% for block in section.blocks %}
            <div class="col-sm-{{ section.settings.columns }}">
              {% if block.settings.text != blank %}
                <div class="text">{{ block.settings.text }}</div>
              {% endif %}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
<style type="text/css">
  #section-{{ section.id }}{
    padding:{{ section.settings.padding }};
    margin:{{ section.settings.margin }};
  }
  @media(max-width: 992px){
    #section-{{ section.id }}{
      margin: {{ section.settings.margin_mobile }};
      padding: {{ section.settings.padding_mobile }};
    }
  }
</style>
{% schema %}
{
  "name": "Columns 2",
  "settings": [
    {
      "type": "text",
      "id": "margin",
      "label": "Margin",
      "default": "0 0 0 0"
    },
    {
      "type": "text",
      "id": "padding",
      "label": "Padding",
      "default": "0 0 0 0"
    },
    {
      "type": "header",
      "content": "Mobile"
    },
    {
      "type": "text",
      "id": "margin_mobile",
      "label": "Margin",
      "default": "0 0 0 0"
    },
    {
      "type": "text",
      "id": "padding_mobile",
      "label": "Padding",
      "default": "0 0 0 0"
    },
    {
      "type": "color",
      "id": "heading_color",
      "label": "Heading",
      "default": "#373737"
    },
    {
      "type": "color",
      "id": "color",
      "label": "text",
      "default": "#777"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "headding"
    },
    {
      "type": "select",
      "id": "columns",
      "label": "Columns",
      "options":[
        {
          "value":"6",
          "label": "2"
        },
        {
          "value": "4",
          "label": "3"
        },
        {
          "value": "3",
          "label": "4"
        }
      ]
    }
  ],
  "blocks": [
    {
      "type": "Columns",
      "name": "Columns",
      "settings": [
        {
          "type": "textarea",
          "id": "text",
          "label": "Text",
          "default": "Nunc vulputate consectetur ipsum"
        }
      ]
    }
  ]
}
{% endschema %}