<section class="Section section--text" id="section-{{ section.id }}" >
  <div class="container-index">
    <div class="container">
      {% for block in section.blocks %}
        <div class="content">
          {% if block.settings.title != blank %}
            <h2 class="heading">{{ block.settings.title }}</h2>
          {% endif %}

          {% if block.settings.text != blank %}
            <div class="text">{{ block.settings.text }}</div>
          {% endif %}
        </div>
      {% endfor %}
    </div>
    </div>
  </div>
</section>
<style type="text/css">
  #section-{{ section.id }}{
    padding:{{ section.settings.padding }};
    margin:{{ section.settings.margin }};
  }
  @media(max-width: 992px){
    #section-{{ section.id }}{
      margin: {{ section.settings.margin_mobile }};
      padding: {{ section.settings.padding_mobile }};
    }
  }
</style>
{% schema %}
{
  "name": "Text",
  "settings": [
    {
      "type": "text",
      "id": "margin",
      "label": "Margin",
      "default": "0 0 0 0"
    },
    {
      "type": "text",
      "id": "padding",
      "label": "Padding",
      "default": "0 0 0 0"
    },
    {
      "type": "header",
      "content": "Mobile"
    },
    {
      "type": "text",
      "id": "margin_mobile",
      "label": "Margin",
      "default": "0 0 0 0"
    },
    {
      "type": "text",
      "id": "padding_mobile",
      "label": "Padding",
      "default": "0 0 0 0"
    },
    {
      "type": "color",
      "id": "heading_color",
      "label": "Heading",
      "default": "#373737"
    },
    {
      "type": "color",
      "id": "color",
      "label": "text",
      "default": "#777"
    }
  ],
  "blocks": [
    {
      "type": "Typography",
      "name": "Typography",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "headding"
        },
        {
          "type": "textarea",
          "id": "text",
          "label": "Text",
          "default": "Nunc vulputate consectetur ipsum"
        }
      ]
    }
  ]
}
{% endschema %}