<section class="Section section--help" id="section-{{ section.id }}">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <ul class="nav nav-tabs" role="tablist">
          {% for block in section.blocks %}
            <li class="nav-item">
              <a href="#tab--{{ forloop.index }}" class="nav-link" data-toggle="tab">{{ block.settings.title }}</a>
            </li>
          {% endfor %}
        </ul>
        </div>

        <div class="col-md-9">
          <div class="tab-content">
            {% for block in section.blocks %}
              <div id="tab--{{ forloop.index }}" class="tab-pane{% if forloop.index == 1 %} active{% endif %}" role="tabpanel">
                <h2 class="heading" style="font-size: {{ block.settings.font_size }}px;">{{ block.settings.title }}</h2>
                <div class="text">{{ block.settings.text }}</div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>     
  </div>

</section>

<style type="text/css">
  #section-{{ section.id }}{
    background-color: {{ section.settings.bg_color }};
    color: {{ section.settings.color }};
    padding:{{ section.settings.padding }};
    margin:{{ section.settings.margin }};
  }
  @media (max-width: 1024px){
    #section-{{ section.id }}{
      padding:{{ section.settings.padding_mobi }};
      margin:{{ section.settings.margin_mobi }};
    }
  }
  .tab-content .tab-pane{
    display: none;
  }
  .tab-content .active{
    display: block;
  }
  @media (min-width: 992px){
    #section-{{ section.id }} .heading{
      font-size: {{ block.settings.font_size }}px;
    }
  }
</style>
{% schema %}
{
  "name": "tabs",
  "settings":[
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "color",
      "label": "Color",
      "default": "#ffffff"
    },
    {
      "type": "text",
      "id": "padding",
      "label": "Section Padding",
      "default": "0px 0px 0px 0px"
    },
    {
      "type": "text",
      "id": "margin",
      "label": "Section margin",
      "default": "0px 0px 0px 0px"
    },
    {
      "type": "header",
      "content": "Mobile"
    },
    {
      "type": "color",
      "id": "bg_color_mobi",
      "label": "Background Color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "color_mobi",
      "label": "Color",
      "default": "#ffffff"
    },
    {
      "type": "text",
      "id": "padding_mobi",
      "label": "Section Padding",
      "default": "0px 0px 0px 0px"
    },
    {
      "type": "text",
      "id": "margin_mobi",
      "label": "Section margin",
      "default": "0px 0px 0px 0px"
    }
  ],
  "blocks": [
    {
      "type": "tabs",
      "name": "tabs",
      "settings":[
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Questions"
        },
        {
          "type": "range",
          "id": "font_size",
          "label": "Font size",
          "default": 40,
          "min": 30,
          "max": 50,
          "step": 1
        },
        {
          "type": "textarea",
          "id": "text",
          "label": "Text",
          "default": "<p>Questions</p>"
        }
      ]
    }
  ]
}
{% endschema %}